/* WHOLE PAGE, HOME PAGE, NAV BAR, ETC*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;  /*whole page*/
    background-color: #f9f5ff;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5d1ff; 
    padding: 20px 20px;
    color: white;
    z-index: 1000;
}

.logo h1 {
    font-size: 1.8em;
    margin: 0;
    color: black;
}

.logo p {
    font-size: 0.9em;
    margin: 0;
    color: rgb(86, 86, 86); 
}

.nav-buttons {
    display: flex;
    gap: 20px; 
}

.nav-buttons button {
    background-color: #e5d1ff; 
    border: none; 
    color: black; 
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
    background-color: #ddc4ff;
}
.intro {
    position: absolute;
    top: 45%; 
    left: 8%; 
    background-color: rgba(255, 255, 255, 0.9); 
    color: black;
    padding: 20px;             
    max-width: 700px; 
    width: 100%; 
    border-radius: 8px; 
    font-size: 20px;
}
.krithika {
    background-color: rgba(229, 209, 255, 0.5); 
    color: black;
    padding: 20px;             
    max-width: 500px;
    width: 80%;
    position: absolute; 
    top: 25%; 
    left: 32%; 
    transform: translateX(-50%); 
    border-radius: 5px
}

.krithika h2 {
    font-family: 'Arial', sans-serif;
    text-align: center;
}
.pic1 img {
    position: absolute; 
    top: 135px;         
    left: 950px;
    width: auto;       
    max-width: 460px; 
    height: auto;  
    display: block;  
}

footer {
    background-color: #e5d1ff; 
    padding: 15px 20px;
    color: black;
    font-weight: bold;
}

/*ABOUT PAGE*/
.kayak {
    opacity: 0.9;
}

.about_me {
    background-color: rgba(229, 209, 255, 0.5); 
    color: black;
    padding: 20px;             
    max-width: 500px;
    width: 80%;
    position: absolute; 
    top: 18%; 
    left: 78%; 
    transform: translateX(-50%); 
    border-radius: 5px
}

.about_me h2 {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.about_text {
    position: absolute; 
    top: 65%; 
    left: 78%; 
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); 
    color: black;
    padding: 20px;             
    max-width: 500px; 
    width: 80%; 
    border-radius: 8px; 
    font-size: 20px;
}

.highschool_activities {
    background-color: rgba(229, 209, 255, 0.5); 
    color: black;
    padding: 20px;             
    max-width: 500px;  
    width: 80%;         
    margin: 20px auto; 
    border-radius: 5px;
}

.highschool_activities h2 {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.highschool {
    top: 100%; 
    left: 78%; 
    background-color: rgba(255, 255, 255, 0.9); 
    color: black;
    padding: 20px;             
    max-width: 5000px; 
    width: 100%; 
    border-radius: 8px; 
    font-size: 20px;
}

/*PROJECT PAGE*/
.project h2 {
    background-color: rgba(229, 209, 255, 0.5); 
    color: black;
    padding: 20px;             
    max-width: 500px;
    width: 80%;
    position: absolute; 
    top: 18%; 
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
.fraud {
    position: absolute; 
    top: 32%; 
    left: 36%; 
    background-color: rgba(255, 255, 255, 0.9); 
    color: black;
    padding: 25px;             
    max-width: 900px; 
    width: 100%; 
    border-radius: 8px; 
    font-size: 20px;
}
.crypto {
    position: absolute; 
    top: 75%; 
    left: 1%; 
    background-color: rgba(255, 255, 255, 0.9); 
    color: black;
    padding: 20px;             
    padding: 25px;             
    max-width: 900px; 
    width: 100%;  
    border-radius: 8px; 
    font-size: 20px;
}
.poverty {
    position: absolute; 
    top: 110%; 
    left: 36%; 
    background-color: rgba(255, 255, 255, 0.9); 
    color: black;
    padding: 25px;             
    max-width: 900px; 
    width: 100%; 
    border-radius: 8px; 
    font-size: 20px;
}

.contact-about {
    position: absolute; 
    top: 32%; 
    left: 36%; 
    background-color: rgba(255, 255, 255, 0.9); 
    color: black;
    padding: 25px;             
    max-width: 900px; 
    width: 100%; 
    border-radius: 8px; 
    font-size: 20px;
}

.pic2 {
    position: absolute;
    top: 35%;
    left: 3%
}
.pic3 {
    position: absolute;
    top: 70%;
    right: 3%
}
.pic4 {
    position: absolute;
    top: 105%;
    left: 3%
}


